{
  "presets": [
    [
      // официальный пресет, реализует только фичи принятые в стандарт
      "@babel/preset-env",
      {
        // дебаг выводит в консоль версии браузеров, выбранных для поддежки
        "debug": true,

        // corejs поставляет полифилы для новых фич, еще не поддерживаемых
        // в браузерах
        "corejs": 3,

        // опция заменяющая requred (для node.js приложений) на import
        // для сборки webpack
        "modules": false,

        // 'usage' добавляет только те полифилы, которые необходимы,
        // 'entry' добавляет все полифилы
        "useBuiltIns": "usage"
      }
    ],

    // пресет для компиляции реакт в нативный JS
    "@babel/preset-react"
  ],

  // плагины для разных аспектов разной степени актуальности можно найти
  // на сайте babel
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ]
}